{% extends 'base.html.twig' %}
{% block body %}

<h1>Bienvenue dans ce blog!</h1>

<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti eveniet aut commodi in unde, repellendus eius, voluptates totam mollitia sequi architecto, magni doloremque et repudiandae illo hic itaque quas minima iure dolor cupiditate accusamus! Veniam corporis deleniti dolor minus dolore!</p>
<p>Veritatis corporis perspiciatis officia ad, minima aliquid molestiae exercitationem asperiores reiciendis? Excepturi numquam odit, consectetur hic nesciunt voluptas tenetur iure. Impedit porro asperiores blanditiis, recusandae, odit harum facere soluta repellat necessitatibus cumque error nostrum nemo dolorem officiis perspiciatis reiciendis dolor!</p>

{% endblock %}
